.circular-text {
  margin: 0 auto;
  border-radius: 50%;
  width: min(63vw, 420px);
  height: min(63vw, 420px);
  position: relative;
  font-family: 'MONTECHV02', Monotech, monospace;
  font-weight: 400;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}

.circular-text span {
  position: absolute;
  display: inline-block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: clamp(21px, 3.6vw, 33px);
  letter-spacing: 0.04em;
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}
